<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.own.yuer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.own.yuer.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.own.yuer.ViewFlipperActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.IndexActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.SearchActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.TuanActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.MyActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.own.yuer.MyChild"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>