<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>load</title>
    <!-- Bootstrap core CSS -->
    <link href="${ctx}/3.0.3/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>
  <body>
      <img src="${ctx}/images/load.jpg" class="img-responsive" alt="Responsive image" />
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
